<%# Header %>
<%- include("./partials/head.ejs") %>
<style>
  .animate-navbar {
    animation: navbar-expand 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.5s;
    width: 100%;
    opacity: 1;
    /* animation-fill-mode: forwards; */
  }

  @keyframes navbar-expand {
    0% {
      width: 0px;
      opacity: 0;
    }

    25% {
      width: 50%;
      opacity: 0.5;
    }

    100% {
      width: 100%;
      opacity: 1;
    }
  }
</style>
<%# Navigation Bar %>
<div class="banner" style="background-image: url(/images/banner-1.jpg);">
  <%- include('./partials/navbar') %>
</div>


<%# Footer %>
<%- include("./partials/footer.ejs") %>