<%# Header %> 
<%- include("./partials/head.ejs") %> 

<%# Navigation Bar %>
<div class="banner" style="background-image: url(/images/banner.jpg);">
  <%- include("./partials/navbar") %>
</div>

<%# Footer %>
<%- include("./partials/footer.ejs") %>
