<%# Header %>
<%- include("./partials/head.ejs") %>
<!-- Navbar-->
<%# Navigation Bar %>
<%- include("./partials/navbar") %>
<div><%= camp.title %></div>
<!-- Footer & Scripts-->
<%# Footer %>
<%- include("./partials/footer.ejs") %>